
html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

body {
  overflow: hidden;
}

#canvas, #canvas2, #canvas3 {
  position: fixed;
  cursor: none;
}

#canvas {
  z-index: 1;
}

#canvas3 {
  z-index: 2
}
