
html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    position: absolute;
}

#canvas {
    z-index: 0;
    position: absolute;
}

#inspector {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding: 12px;
    padding-left: 20px;
    display: block;
    position: absolute;
    margin-left: 0px;
    width: 25vw;
    height: 100vh;

    z-index: 1;
}

button {
    height: 32px;
    font-size: 20px;
    min-width: 50px;
    margin: 5px 2px;
}

button:hover {
    filter: brightness(0.8)
}
button:active {
    filter: brightness(0.6)
}

#btnSimSpeed {
    min-width: 200px;
}

#dashboard {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.flex-container {
    display: flex;
}

.info {
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans MT', Calibri;
}

#btnFollow {
    display: none;
}