
html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    position: absolute;
    font-family: 'Gill Sans MT', Calibri;
}

#canvas {
    z-index: 0;
    position: absolute;
}

button {
    height: 32px;
    font-size: 20px;
    min-width: 50px;
    margin: 5px 2px;
    border-radius: 2px;
    border: 1px solid white;

    font-family: 'Gill Sans MT', Calibri;
}

button:hover {
    filter: brightness(0.8)
}
button:active {
    filter: brightness(0.6)
}

#btnSimSpeed {
    min-width: 200px;
}

#dashboard {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    pointer-events: none;
}

#dashboard * * {
    pointer-events: auto;
}

.flex-container {
    display: flex;
}

.info {
    font-size: 20px;
    color: white;
}

#btnFollow, #selectionInfo {
    display: none;
}